
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    background: url('https://www.example.com/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(8px);
}




.container {
    width: 100%;
    max-width: 600px;
    background-color:transparent;
    backdrop-filter: blur 10px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}


.input-container {
    margin-bottom: 20px;
}

.input-container label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-container input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input-container input:focus {
    border-color: #6e1428;
}


.submit-button {
    width: 100%;
    padding: 15px;
    background-color: #6e1428;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #8c2b3e;
}


.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link p {
    font-size: 14px;
    color: #777;
}

.register-link a {
    color: #6e1428;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

