
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body{
    background: url("https://picsum.photos/1600/900?random=1");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




.container {
    width: 100%;
    max-width: 600px;
    background-color:transparent;
    backdrop-filter: blur(20px);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(228, 224, 224, 0.1);

}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #321e7d;
    text-align: center;
}


.input-container {
    margin-bottom: 20px;
}

.input-container label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-container input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input-container input:focus {
    border-color: #6e1428;
}


.submit-button {
    width: 100%;
    padding: 15px;
    background-color: #331dd8;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #5861c4;
}


.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link p {
    font-size: 14px;
    color: #fffdfd;
}

.register-link a {
    color: #1f1684;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

