/* Reset básico para garantir consistência entre os navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo do corpo da página */
body {
    background: #f0f4f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container do formulário */
.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px 50px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo dos campos de entrada */
.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.input-container input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-container input:focus {
    border-color: #6e1428;
}

/* Estilo do botão de envio */
.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #6e1428;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #8c2b3e;
}

/* Link para login */
.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link p {
    font-size: 14px;
    color: #777;
}

.register-link a {
    font-size: 14px;
    color: #6e1428;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

